* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.btn-container, .main-container, .round-container {
    background-color: #ffe8fa;
}

.game-container {
    background-color: #fff;
}

.left-side-menu {
    height: 100vh;
    background-color: #ffe8fa;    
    display: flex;
    flex-direction: column;
    width: 0px;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}

.right-side-menu {
    height: 100vh;
    background-color: #ffe8fa;    
    display: flex;
    flex-direction: column;
    left: 100%;
    transform: translate(-100%, 0%);
    width: 0px;
    position: fixed;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}



.rules-title, .about-title {
    padding: 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.rules-text, .about-text {
    min-width: 350px;
    padding: 12px 12px;
}

.about-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
}

.about-text span {
    padding-bottom: 20px;
    color: #000000;
}

.rules-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    padding: 12px 12px;
}

.rules-content span {
    padding: 0px 5px;
}

.rules-content img {
    width: 60px;
    height: 60px;
}

.open-side-menu {
    cursor: pointer;
}

.close-side-menu {
    background-color: #280b26;
    color: #f4c047;
    padding: 5px 8px;
    letter-spacing: 0;
    cursor: pointer;
}

.game-container {
    transition: 0.5s;
}

.header {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 140px;
    background-color: #280b26;
    font-family: 'Orbitron', sans-serif;
    color: #f4c047;
}

.sub-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.round-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}
.game-screen {
    display: flex;
    margin-bottom: 30px;
    gap: 200px;    
}


.player-screen, .computer-screen {
    text-align: center;
}

.player-score, .computer-score {
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
}

.computer-box, .player-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 8px solid #280b26;
    border-radius: 2rem;
    transition: 0.3s;
}

.winner {
    border: 8px solid #a9ff92;
}

.loser {
    border: 8px solid #ff6464;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.btn-container button {
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 50%;
}

.btn-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.footer-container {
    display: flex;
    position: fixed;
    background-color: #280b26;
    height: 60px;
    width: 100%;
    bottom: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.4rem;
    color: #f4c047;
    transition: 0.5s;
}

.endgame-overlay {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,.4);
    z-index: 2;
}

.endgame-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 300px;
    height: 200px;
    transform: translate(-50%, -50%)scale(0);
    top: 50%;
    left: 50%;
    position: fixed;
    text-align: center;
    transition: 0.5s ease-in-out;
    border: 3px solid #280b26;
    border-radius: 1rem;
    z-index: 3;
}

.endgame-box h1 {
    font-family: 'Orbitron', sans-serif;
    padding-top: 20px;
    letter-spacing: 0.1em;
}

.endgame-box p {
    font-family: 'Roboto', sans-serif;
    padding: 20px 0px;
}

.endgame-box button {
    background-color: #280b26;
    color: #f4c047;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.2em;
    width: 150px;
    height: 32px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.activate-overlay {
    display: block;
}

.activate-endbox {
    transform: translate(-50%, -50%)scale(1);
}


/* Single Buttons Customization and Hover Effects */

.btn-rock:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #b42313;
    transform: scale(1.2);
    transition: 0.1s ease-in-out;
}

.btn-paper:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #f4c047;
    transform: scale(1.2);
    transition: 0.1s ease-in-out;
}

.btn-scissors:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #8f1767;
    transform: scale(1.2);
    transition: 0.1s ease-in-out;
}

.btn-lizard:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #57c52b;
    transform: scale(1.2);
    transition: 0.1s ease-in-out;
}

.btn-spock:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #465be7;
    transform: scale(1.2);
    transition: 0.1s ease-in-out;
}